/ %img{src: current_page.data.post_image }

%main.site-content{role: :main}
  %article.post
    %header.post-header

      %h1.post-title= current_article.title
      %span.post-meta
        on
        %time{datetime: current_article.date.strftime('%Y-%m-%d')}
          = current_article.date.strftime('%d %b %Y')
        / - if tags?
        /   on #{tags}

    %section.post-content= content
