%meta{name: 'og:site_name', content: 'Luis Abreu'}
%meta{name: 'og:title', content: 'Luis Abreu'}
%meta{name: 'og:url', content: 'http://lmjabreu.com'}
/ %meta{name: 'og:image', content: 'images/default_preview_image.png'}
