%meta{name: 'twitter:card', content: 'summary'}
%meta{name: 'twitter:site', content: '@lmjabreu'}
%meta{name: 'twitter:creator', content: '@lmjabreu'}
%meta{name: 'twitter:title', content: 'Luis Abreu'}
%meta{name: 'twitter:description', content: 'UX & UI Designer'}
%meta{name: 'twitter:image:src', content: blog_url + '/images/favicon.png'}
